---
var usernames: any[] = []
await fetch(`https://bear-database.akum.site/getUsernames`)
    .then(res => res.json())
    .then(json => usernames = json.response)

var membersObj: object = {}
await fetch(`https://bear-database.akum.site/getTeamMembers`)
    .then(res => res.json())
    .then(json => membersObj = json.response)

var members: any[] = []
usernames.forEach(u => members.push(membersObj[u]))

import Layout from '../layouts/Layout.astro'
import Hero from '../components/hero.astro'

import '../styles/pages/team.scss'
---
<Layout title="Our Team">
    <section class="members">
        <h1 class="page-title">Our Team</h1>
        <div class="member__list">
            {
                members.map(member => {
                    var role = !!member.role ? member.role : 'Team Member'

                    var pfp = member.pfp.url
                    if (!pfp.endsWith('/pfp.png')) pfp = `${pfp.slice(0, -5)}=s0`

                    var bio = member.bio.result
                    if (bio.includes(role) && role !== 'Team Member') bio = bio.replace(role, 'Team Member')

    
                    return (
                        <div class="member">
                            <img src={pfp} alt={`Image of ${member.name}`} class="member__image" />
                            <div class="member__info">
                                <h3 class="member__name">{member.name}</h3> 
                                {/*<span class="member__role">*//*member.role*//*'Team Member'</span>*/}
                                <p class="member__bio" set:html={bio} />
                                <a class="member__link fl-right" href={`/team-member/${member.username}/`}>(Read More)</a>
                            </div>
                        </div>
                    )
                })
            }
        </div>
    </section>
</Layout>