---
import Header from '../components/header.astro'
import Footer from '../components/footer.astro'

import '../styles/globals.scss'
import '../styles/icons.scss'

export interface Props {
	title: string;
	className: string;
}

var sTitle = 'Food Forward Initiative'
var description = 'The Food Forward Initiative is a change-making project at UC Berkeley dedicated to transforming food waste and surplus food into valuable community resources. By redirecting used food waste to a community garden for composting and sending unused food to homeless shelters and food banks, we aim to create a sustainable and socially responsible food system. Our mission is to ensure no edible food goes to waste while supporting local urban agriculture and reducing food insecurity in the community.'
var sUrl = 'https://team-bear-project.akum.site'
var pImg = '/assets/preview.svg'
var largeFavicon = '/favicon.png'

const { title, className } = Astro.props as Props;

var classItems = ['main']

if (title) {
  var pageClass = title.toLowerCase()
  if (pageClass.includes(' ')) pageClass = pageClass.split(' ').join('-')
  classItems.push(pageClass)
}

if (className) {
  if (className.includes(' ')) {
    className = className.split(' ')
  }
  else className = [className]
  
  className.forEach(c => classItems.push(c))
}

classItems = classItems.join(' ')

let dTitle = `${title} | ${sTitle}`
if (title === 'Home') dTitle = sTitle
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="image" content={pImg}>
    <meta property="description" content={description}>
    <meta property="og:description" content={description}>
    <meta property="og:image" content={pImg}>
    <meta property="og:url" content={sUrl}> 
    <meta name="twitter:card" content="summary_large_image"> 
    <meta name="twitter:title" content={dTitle}> 
    <meta name="twitter:description" content={description}> 
    <meta name="twitter:image" content={pImg}> 
    <link href={largeFavicon} rel="icon" type="image/png" />
    <title>{dTitle}</title>
    {
      title === 'Upcoming Events' ? (
        <script src="https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AkMdzF1Q7JCJCXj3415UZvH4JYRCJihZ_W7JEOnpx6eH5Hwtt1qie1LQqIrJ7-jS" async defer is:inline></script>
      ) : ''
    }
  </head>
  <body>
    <Header siteName={sTitle} />
    <main id="content" class={classItems}>
      <slot />
    </main>
    <Footer siteName={sTitle} />
  </body>
</html>